body {
     background-image:url("https://sk-24artemis.github.io/spinning-fish/fish/RADICAL.jpg")!important;
     text-align: center!important;
     background-repeat:no-repeat;
     background-size:cover!important;
     }
