body {
     background-image:url("https://sk-24artemis.github.io/spinning-fish/fish/RADICAL.jpg")!important;
     background-size:cover!important;
     background-repeat:no-repeat;
     }
{ 
     margin: 0;
     background: black;
     text-align: center!important;
}
