body {
    background: #121212;
}

.contents {
    background: black;
    border: 1px solid #212121;
    width: fit-content;
}

.site-header h1 {
    color: #CCCCCC;
}

canvas.emscripten {
    display: block;
    border: 1px solid #212121;
    background-color: white;
}

@media (resolution: 2x) {
    canvas.emscripten {
        image-rendering: crisp-edges;
    };
}

div.Subpage {
    min-width: 629px;
    min-height: 424px;
    display: flex;
    justify-content: center;
}

.main-menu {
    background: #1D1D1D;
    border-color: #343434;
}

.main-menu .nav > li > a {
    border-left-color: #343434;
    border-right-color: #343434;
}

a:hover {
    color: #00a4f7;
}

.main-menu .nav > .active > a, .main-menu .nav > .active > a:hover {
    background: #141414;
    border-right-color: #141414;
    color: #a2a2a2;
}

.main-menu .nav > li > a:hover {
    background: #141414;
}

.main-menu input[type="text"] {
    background-color: #121212;
    border-color: #343434;
}

#loading {
    margin: 13em 0 13em 0;
}

footer {
    color: #424242;
}